@import "tailwindcss";

:root {
 
}


@theme {
  --color-primary: #A5B4FC;
  --color-primaryHover: #818CF8;
  --color-basicText: #fff;
  --color-secondary: ;
  --color-secondaryHover: ;
  --color-danger: #c50034;
  --color-dangerHover: #c50034;
  --color-greyLight: #f8f8f8;
  --color-greyMedium: #9b9b9b;
  --color-greyDark: #697382;
  --color-taskTitle: #4b0150;
  --color-statusTodo: #d1d6dc;
  --color-statusTodoText: #1d2937;
  --color-statusInProgress: #ffe022;
  --color-statusInProgressText: #884b00;
  --color-statusDone: #79f1a8;
  --color-statusDoneText: #02672f;
  }


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
